body, div, main, section, article {
  box-sizing: border-box; }

html {
  scroll-behavior: auto !important; }

/* background image */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.png");
  background-size: 100%;
  background-attachment: fixed;
  color: #000; }

/* HEADER */
header {
  color: white;
  background-image: url("../img/header/bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header #headerLogo {
    --bs-gutter-x: 0; }
  header #headerLogo img {
    width: 500px;
    max-width: 100%;
    max-height: 98%; }
  header #headerDianne img {
    width: 271px;
    max-width: 100%;
    max-height: 98%; }
  header #headerRuth img {
    width: 271px;
    max-width: 100%;
    max-height: 98%; }
  header #nav {
    background-color: #fff;
    outline: 3px solid #000;
    font-size: 20px;
    width: 100%;
    margin: auto; }

/* clearfix hack to prevent image overflow. check out the W3Schools page on it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*FONTS*/
@font-face {
  font-family: EckScript;
  src: url(../fnt/Eckscript4-Regular.ttf) format("truetype"); }

/* header font */
#showComic, header, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000; }

.archiveTable, #authorNotes {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px; }
  .archiveTable span, #authorNotes span {
    background-image: url("../img/subpage/bg_white.png"); }

.subPage span {
  background-image: url("../img/subpage/bg_white.png"); }

.subPage p, .subPage a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px; }

.subPage h1, .subPage h2, .subPage h3, .subPage h4, .subPage h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000; }

/* STYLING FOR SUBPAGES (about, characters, etc) */
/*general*/
.subPage {
  width: 1000px;
  max-width: 98%;
  background-image: url("../img/subpage/bg.png");
  background-repeat: repeat;
  background-blend-mode: overlay;
  outline: 3px solid #000;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 40px;
  padding: 0px 12px 12px; }

.subPageNav {
  background-image: url("../img/subpage/bg.png");
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  max-width: 100%; }
  .subPageNav .subPageNavItems span {
    background-image: url("../img/subpage/bg_white.png"); }

/* ARCHIVE PAGE */
/* style table in which archive is displayed */
.archiveTable {
  max-width: 98%; }

/* style archive table cells */
.archiveTable td {
  padding: 3px;
  vertical-align: top;
  text-align: left; }

/*style archive thumbnail*/
.archiveCellThumb {
  width: 500px;
  max-width: 100px; }
  .archiveCellThumb img {
    max-width: 100%; }

/* style table cell in which page title is displayed */
.archiveCellTitle {
  max-width: 300px; }

#archiveHeader img {
  max-width: 98%;
  width: 300px; }

.archiveRow {
  transition: 0.2s; }

.archiveRow:hover {
  background-image: url("../img/subpage/bg_white.png");
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05); }

.blend {
  mix-blend-mode: overlay; }

.subPage:not(.archivePage) {
  text-align: center; }

/*CHARACTER PAGE*/
.charPage .charProfile .charImg img {
  width: 100%; }

/* for pictures displayed to the left */
.leftPic {
  clear: left;
  float: right;
  margin-left: 20px; }

/* for pictures displayed to the left */
.rightPic {
  clear: right;
  float: left;
  margin-left: 20px; }

/* link colors */
a {
  color: #000;
  transition: 0.15s; }

a:hover {
  color: #fff; }

/* HOMEPAGE */
/* style nav button images */
#comicNav {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.2s;
  width: 100%;
  background-image: url("../img/subpage/bg.png");
  height: 70px; }
  #comicNav img {
    max-width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px; }
  #comicNav .navBorder img {
    height: 100%; }

/* style comic page image */
.comicPage img {
  max-width: 100%; }

/*style area where comic images are (comicPages id might be easy to confuse with comicPage class oops)*/
#comicPages {
  outline: 4px solid #000;
  margin-top: 100px;
  --bs-gutter-x: 0; }

/* style author notes */
#authorNotes {
  background: url("../img/subpage/bg.png");
  outline: 3px solid #000;
  padding: 3px;
  padding-top: 0px;
  --bs-gutter-x: 0; }

/*style share modal*/
#shareModal .modal-content {
  background: url("../img/subpage/bg.png"); }

#shareModal .btn-close {
  color: #000;
  opacity: 1; }

/* FOOTER */
.writeFooter {
  color: #000;
  background: url("../img/subpage/bg.png");
  margin-top: 22px;
  padding-bottom: 15px;
  float: left;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: small; }
  .writeFooter span {
    background-image: url("../img/subpage/bg_white.png"); }
  .writeFooter .geno7Banner img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.2s;
    max-width: 100%; }
  .writeFooter .geno7Banner img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }

footer p {
  margin: auto; }

footer a {
  color: #fff; }

footer a:hover {
  color: #fff; }

/* take away margins from the edges of the screen */
html, body {
  margin: 0; }

.switchimg {
  position: relative;
  display: inline-block; }
  .switchimg .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }

.switchimg:hover .img-top {
  display: inline; }

.imglink img {
  transition: 0.2s; }

.imglink img:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
  cursor: pointer; }
