//variables
$color-black: #000;
$color-white: #fff;
$color-highlight: $color-white;
$color-black-bg: #0A0A0A;

$bg-black: url("../img/subpage/bg.png");
$bg-white: url("../img/subpage/bg_white.png");

//give a parallax bg to a div
@mixin parallax-bg($bg-url) {
    color: white;
    background-image: $bg-url;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, div, main, section, article {
  box-sizing: border-box;
}

html { //snap scroll
  scroll-behavior: auto !important;
}

/*FONTS*/
@font-face
{
	font-family: EckScript;
	src: url(../fnt/Eckscript4-Regular.ttf) format('truetype');
}

/* header font */
#showComic, header, h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $color-black;
}

//paragraph font
.archiveTable, #authorNotes, .btn, .modal-content {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  span {
    background-image: $bg-white;
    }
}

/* background image */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.png");
    background-size: 100%;
    background-attachment: fixed;
    color: $color-black;
}



/* HEADER */
header {

    @include parallax-bg(url("../img/header/bg.png"));

    #headerLogo {
        --bs-gutter-x: 0;
    }

    #headerLogo {
        img {
            width: 500px;
            max-width: 100%;
            max-height: 98%;
        }
    }

    #headerDianne {
        img {
            width: 271px;
            max-width: 100%;
            max-height: 98%;
        }
    }

    #headerRuth {
        img {
            width: 271px;
            max-width: 100%;
            max-height: 98%;
        }
    }

    #nav {
    background-color: $color-white;
    outline: 3px solid $color-black;
    font-size: 20px;
    width: 100%;
    margin: auto;
    }
}

/* clearfix hack to prevent image overflow. check out the W3Schools page on it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

//give items with a "span" class the white bg
.subPage {
  span {
    background-image: $bg-white;
    }
  p, a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
  }
  h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $color-black;
  }
}
/* STYLING FOR SUBPAGES (about, characters, etc) */

/*general*/

.subPage {
  width: 1000px;
  max-width: 98%;
  background-image: $bg-black;
  background-repeat:repeat;
  background-blend-mode: overlay;
  outline: 3px solid $color-black;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 40px;
  padding: 0px 12px 12px;
}

.subPageNav {
  background-image: $bg-black;
  //background-color: $color-black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  max-width: 100%;
  .subPageNavItems span {
    background-image: $bg-white;
    }
}

/* ARCHIVE PAGE */

/* style table in which archive is displayed */
.archiveTable {
  max-width: 98%;
}

/* style archive table cells */
.archiveTable td {
  padding: 3px;
  vertical-align: top;
  text-align: left;
}

/*style archive thumbnail*/
.archiveCellThumb {
  img{
    max-width: 100%;
  }
    width: 500px;
    max-width: 100px;
}

/* style table cell in which page title is displayed */
.archiveCellTitle {
  max-width: 300px;
}

#archiveHeader {
  img {
  max-width:98%;
  width: 300px;
  }
}

.archiveRow {
  transition: 0.2s;
}

.archiveRow:hover {
  background-image: $bg-white;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
}

.blend {
  mix-blend-mode: overlay;
}

.subPage:not(.archivePage) {
  text-align: center;
}

/*CHARACTER PAGE*/

.charPage {
  .charProfile {
    .charImg img {
      width: 100%;
    }
  }
}

/* for pictures displayed to the left */
.leftPic {
  clear: left;
  float:right;
  margin-left:20px;
}

/* for pictures displayed to the left */
.rightPic {
  clear: right;
  float:left;
  margin-left:20px;
}

/* link colors */
a {
      color: $color-black;
      transition: 0.15s;
    }

a:hover {
      color: $color-highlight;
    }

/* HOMEPAGE */

/* style nav button images */
#comicNav {
  display:flex;
  flex-wrap:nowrap;
  transition: 0.2s;
  width: 100%;
  background-image: $bg-black;
  //background-color: $color-black;
  height: 70px;

  img {
    //width: 60px;
    max-width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navBorder {
    img {height: 100%;}
  }

  
}

/* style comic page image */
.comicPage {
    img {
    max-width: 100%;
    }
}

/*style area where comic images are (comicPages id might be easy to confuse with comicPage class oops)*/
#comicPages {
    outline: 4px solid $color-black;

    max-width: 900px;
    //max-width: 98%;

    margin-top: 100px;

    --bs-gutter-x: 0;

    //width: 60vw;
}

/* style author notes */
#authorNotes {
  background: $bg-black;
  outline: 3px solid $color-black;
  //margin: auto;
  padding: 3px;
  padding-top: 0px;
  --bs-gutter-x: 0;

  max-width: 900px;
}

/*style modal*/
#shareModal, #contentWarningModal {
  .modal-content { //no bg images so it loads faster
    background: $color-black-bg;
    span { 
    background: $color-highlight;
    }
  }
  .btn-close {
    color: $color-black-bg; 
    opacity: 1;
  }
  
  .modal-header {
    border-bottom: 0 none;
  }

  .modal-footer {
      border-top: 0 none;
  }

  .btn-light {
    background: $color-highlight;
    transition: 0.2s;
    border: 0px;
  }
  .btn-light:hover {
    background: $color-black-bg;
    color: $color-white
  }
}

/* FOOTER */
.footerStyle {
  color: $color-black;
  background: $bg-black;
  margin-top: 22px;
  padding-bottom: 15px;
  float: left;
  width: 100%;

  //font  
  font-family: 'Courier New', Courier, monospace;
  font-size: small;

  span {
    background-image: $bg-white;
  }
  .geno7Banner {
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: 0.2s;
      max-width: 100%;
    }
    img:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
  #webcomicwebring {
    background: $bg-white;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: 0.2s;
      max-width: 100%;
    }
    img:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}

footer p {
  margin: auto;
}

footer a {
  color: $color-white;
}

footer a:hover {
  color: $color-white;
}

/* take away margins from the edges of the screen */
html, body {
  margin: 0;
}

//make an image that changes when you hover over it
.switchimg {
        position: relative;
        display: inline-block;

    .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}
.switchimg:hover {
    .img-top {
        display: inline;
    }
}

//image get bigger when you hover
.imglink {
  img {
    transition: 0.2s;
  }
  img:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
  cursor: pointer;
  }
}
